.main-layout {
  max-width: 1200px;
  padding: 0 1rem;
  margin: 1rem auto;

  .top {
    display: flex;
    justify-content: space-between;
    border-bottom: 1px solid #c5cdd1;
    padding-bottom: 0.5rem;
    align-items: center;
    margin-bottom: 1rem;
  }

  .area-details-page {
    h1 {
      margin: 0 auto;
    }

    .cui-list-item {
      min-height: 61px;
      padding-left: 1.4rem;

      .cui-list-item-content-left {
        margin-top: -4px;
      }

      &:last-child {
        color: #f44336;
      }
    }
  }
  
  .index-page {
    .cui-list {
      h4 {
        margin-bottom: 0;
        margin-top: 1.25rem;

        &:first-child {
          margin-top: 0.25rem;
        }
      }

      .cui-list .cui-list-item-content-left {
        margin-top: -4px;
      }
    }
  }

  .shared-grammar-page {
    .top {
      border-bottom: 0;
      padding-bottom: 0;
  
      h1 {
        max-width: 40rem;
        padding: 0 10px;
        border-bottom: 0;
        margin: 0 auto 1rem;
        margin-bottom: 0;
      }
    }
  }
}
