.metadata-heading-container {
  display: flex;
  justify-content: space-between;
  width: 100%;

  .add-metadata-button {
    display: flex;
    flex-flow: row nowrap;
    cursor: pointer;

    p {
      margin-left: 2px;
    }
  }
}

.metadata-entries-list {
  list-style: square;
}

.metadata-entry-list-item {
  margin-bottom: 32px;
}

.delete-metadata-button {
  float: right;
  margin-bottom: 12px;
  margin-top: 6px;
}
